@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,400;1,500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1d2d44;
    color: white; 
}

main h1{
    color: white;
    
    text-transform: uppercase;
}

main {
    height: 400px;
    width: 400px;
    background-color: #0b1017;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 10px 10px 0 #121213;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input[type="password"], input[type="text"] {
    background-color: initial;
    display: flex;
    border: 2px solid #416397;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px;
    transition: .5s;
    color: white;
}



input[type="password"]:focus,
input[type="text"]:focus {
    padding: 10px 25px;
    outline: 0;
    box-shadow: 2px 3px 5px #00000018;
}

input[type="submit"] { 
    cursor: pointer;
    font-weight: bold;
    background-color: initial;
    display: flex;
    border: 2px solid #85a0ca; 
    margin: 35px auto 20px auto;
    border-radius: 20px;
    padding: 10px;
    transition: .3s;
    color: white;
    padding: 10px 5.6em;
}

input[type="submit"]:hover {
    background-color: #3c5b8b;
    color: black;
}

label h3 {
    position: relative;
    top: 28px;
    left: 34.5%;
    background-color: #263851;
    max-width: max-content;
    padding: 0 8px;
    font-size: 0.8em;
}

form ::-webkit-input-placeholder {
    color: white;
    padding-left: 3px;
    text-align: center;

}

form ::-webkit-input-placeholder:focus {
    color: black;
}


